html{
  p{
    color: $grey;
  }
}

body {
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  height: 100vh;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.site-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}

@include media($mobile){
  .site-container{
    padding: 40px 30px;
  }
}
