<header>
  <div class="site-header animate_up">
    <a href="/"><h4>Wisnu Hadibrata</h4></a>
    <ul class="site-navigation">
      <li><a href="/about.html">about</a></li>
      <!-- <li><a href="/notes.html">notes</a></li> -->
      <li><a href="/contact.html">contact</a></li>
    </ul>

    <div class="site-navigation-mobile">
      <span></span>
    </div>
  </div>

  <div class="mobile-menu">
    <ul class="site-navigation-mobile-items">
      <li><a href="/about.html">about</a></li>
      <!-- <li><a href="/notes.html">notes</a></li> -->
      <li><a href="/contact.html">contact</a></li>
    </ul>
  </div>
</header>
