//
// Some Useful color Vars via http://clrs.cc/
//

//Site
$bg: #f9fafb;
$grey: #60736f;
$blue: #5ba0da;
$lightgrey: #dce2e1;
$dark: #293734;
$fav: #41c2cc;
$favdark: #029aa8;
$accent: #f8f8f8;
$selection : #fff498;
$green: #00dbaf;
$lightgreen: #a8b7b4;


//
// Add whatever variables you would like made available to the whole app
//
