<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="site-container">

      {% include header.html %}

          {{ content }}

      {% include footer.html %}

    </div>

    <script src="assets/js/jquery-2.2.1.min.js"></script>
    <script src="assets/js/CSSPlugin.min.js" type="text/javascript"></script>
    <script src="assets/js/TweenLite.min.js" type="text/javascript"></script>
    <script src="assets/js/TimelineLite.min.js" type="text/javascript"></script>
    <script src="assets/js/functions.js" type="text/javascript"></script>

    {% include google-analytics.html %}

  </body>

</html>
